.card{
    width: 250px;
    height: 400px;
}
img{
    border-radius: 5px;
}
.card:hover{
    box-shadow: 3px 4px 4px rgb(115, 117, 117);
}
iframe{
    border-radius: 10px;
    left: 50px;
}



@media  screen and (max-width: 400px) {
     .media img{
        width: 100%;
        height: 300px;
     }
     h1,h3{
        text-align: center;
        color: blue;
     }
     .card{
        left: 50px;
     }
     iframe{
        width: 250px;
        height: 200px;
     }
     
}